<!--about us page -->
{% extends "nav.html" %} {% block data %}
<!-- main contents   -->

<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 ">

            <div class="text-success h2 bg-info thumbnail">algo-trading-gc helps you find stock market trade signal for intraday, swing and delivery with best algo program written by our team with your money management. It provide you help to earn money and enjoy your life better.
            </div>
            <div class="text-success h2 bg-info thumbnail">
                <p>We have doing trading since 2012 and doing algo trading since 2018. We have written a lot of algo for our trading system and made money now we are helping you to make money.</p>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

{% endblock %}