<!--about us page -->
{% extends "nav.html" %} {% block data %}
<!-- main contents   -->

<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 ">

            <div class="text-warning h2 bg-info thumbnail">
                <p> We give much value for your money. We work hard so that you can make money but stock market is subject to risk. Do your own research before investing .We do not responsible for your profit or loss </p>
            </div>
            <div class="text-warning h2 bg-info thumbnail">
                <p>This is for your awareness purpose only</p>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

{% endblock %}