<ul class="nav nav-pills">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Profile</a></li>
    <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Messages <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#">Inbox</a></li>
            <li><a href="#">Drafts</a></li>
            <li><a href="#">Sent Items</a></li>
            <li class="divider"></li>
            <li><a href="#">Trash</a></li>
        </ul>
    </li>
</ul>


<div class="bs-example">
    <nav class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
            <a href="#" class="navbar-brand">Brand</a>
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Messages</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </nav>
</div>


<div class="bs-example">
    <nav class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
            <a href="#" class="navbar-brand">Brand</a>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Messages <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Inbox</a></li>
                        <li><a href="#">Drafts</a></li>
                        <li><a href="#">Sent Items</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Trash</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </nav>
</div>



<div class="container">
    <nav class="navbar navbar-inverse">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
            <a href="#" class="navbar-brand">Brand</a>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Messages <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Inbox</a></li>
                        <li><a href="#">Drafts</a></li>
                        <li><a href="#">Sent Items</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Trash</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="bs-example">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
            <a href="#" class="navbar-brand">Brand</a>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </nav>


    <div class="panel panel-info">
        <div class="panel-body">Look, I'm in a panel!</div>
    </div>

    <style type="text/css">
        .bs-example {
            margin: 20px;
        }
    </style>
    <div class="bs-example">
        <div class="panel panel-default">
            <div class="panel-heading">This Page is Disabled</div>
            <div class="panel-body">This page is temporarily disabled by the site administrator for some reason.<br> <a href="#">Click here</a> to enable the page.</div>
        </div>
    </div>





    <style type="text/css">
        .bs-example {
            margin: 20px;
        }
    </style>
    <div class="bs-example">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Panel Title</h1>
            </div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque non non purus.</div>
        </div>
    </div>





    <style type="text/css">
        .bs-example {
            margin: 20px;
        }
    </style>
    <div class="bs-example">
        <div class="panel panel-default">
            <div class="panel-body">This page is temporarily disabled by the site administrator for some reason.</div>
            <div class="panel-footer clearfix">
                <div class="pull-right">
                    <a href="#" class="btn btn-primary">Learn More</a>
                    <a href="#" class="btn btn-default">Go Back</a>
                </div>
            </div>
        </div>
    </div>







    <style type="text/css">
        .bs-example {
            margin: 20px;
        }
    </style>
    <div class="bs-example">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">301 Moved Permanently</h3>
            </div>
            <div class="panel-body">The requested page has been permanently moved to a new location.</div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">200 OK</h3>
            </div>
            <div class="panel-body">The server successfully processed the request.</div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">100 Continue</h3>
            </div>
            <div class="panel-body">The client should continue with its request.</div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">400 Bad Request</h3>
            </div>
            <div class="panel-body">The request cannot be fulfilled due to bad syntax.</div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">503 Service Unavailable</h3>
            </div>
            <div class="panel-body">The server is temporarily unable to handle the request.</div>
        </div>
    </div>





    <style type="text/css">
        .bs-example {
            margin: 20px;
        }
    </style>
    <div class="bs-example">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">User Information</div>
            <div class="panel-body">
                <p>The following table contains some personal information about users.</p>
            </div>
            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Row</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>John</td>
                        <td>Carter</td>
                        <td>johncarter@mail.com</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Peter</td>
                        <td>Parker</td>
                        <td>peterparker@mail.com</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>John</td>
                        <td>Rambo</td>
                        <td>johnrambo@mail.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>






    <style type="text/css">
        .bs-example {
            margin: 20px;
        }
    </style>
    <div class="bs-example">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Products</div>
            <div class="panel-body">
                <p>The following products are currently available on our store.</p>
            </div>
            <!-- List group -->
            <div class="list-group">
                <a href="#" class="list-group-item">Mobile Phones <span class="badge">50</span>
                    </a>
                <a href="#" class="list-group-item">Laptops & Desktops <span class="badge">145</span>
                    </a>
                <a href="#" class="list-group-item">Tablets <span class="badge">30</span>
                    </a>
                <a href="#" class="list-group-item">Audio & Video Players <span class="badge">65</span>
                    </a>
                <a href="#" class="list-group-item">Camera <span class="badge">8</span>
                    </a>
            </div>
        </div>
    </div>



    <style type="text/css">
        .bs-example {
            margin: 20px;
        }
    </style>
    <div class="bs-example">
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>





    <style type="text/css">
        .bs-example {
            margin: 20px;
        }
    </style>
    <div class="bs-example">
        <ul class="pager">
            <li class="previous disabled"><a href="#">&larr; Previous</a></li>
            <li class="next"><a href="#">Next &rarr;</a></li>
        </ul>
    </div>






    <style type="text/css">
        .bs-example {
            margin: 20px;
        }
    </style>
    <div class="bs-example">
        <h1>Bootstrap heading <span class="label label-default">New</span></h1>
        <h2>Bootstrap heading <span class="label label-default">New</span></h2>
        <h3>Bootstrap heading <span class="label label-default">New</span></h3>
        <h4>Bootstrap heading <span class="label label-default">New</span></h4>
        <h5>Bootstrap heading <span class="label label-default">New</span></h5>
        <h6>Bootstrap heading <span class="label label-default">New</span></h6>
    </div>




    <style type="text/css">
        .bs-example {
            margin: 20px;
        }
    </style>
    <div class="bs-example">
        <p>This is a <span class="label label-default">Default</span> label.</p>
        <p>This is a <span class="label label-primary">Primary</span> label.</p>
        <p>This is a <span class="label label-success">Success</span> label.</p>
        <p>This is an <span class="label label-info">Info</span> label.</p>
        <p>This is an <span class="label label-warning">Warning</span> label.</p>
        <p>This is an <span class="label label-danger">Danger</span> label.</p>
    </div>






    <style type="text/css">
        .bs-example {
            margin: 20px;
        }
    </style>
    <div class="bs-example">
        <ul class="nav nav-pills">
            <li><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li class="active"><a href="#">Messages <span class="badge">24</span></a></li>

            <li><a href="#">Notification  <span class="badge">5</span></a></li>
        </ul>
    </div>


    <style type="text/css">
        .bs-example {
            margin: 20px;
        }
    </style>
    <div class="bs-example">
        <div class="progress">
            <div class="progress-bar" style="width: 60%;">
                <span class="sr-only">60% Complete</span>
            </div>
        </div>
    </div>






    <style type="text/css">
        .bs-example {
            margin: 20px;
        }
    </style>
    <div class="bs-example">
        <div class="progress">
            <div class="progress-bar" style="width: 60%;">
                60%
            </div>
        </div>
    </div>




    <style type="text/css">
        .bs-example {
            margin: 20px;
        }
    </style>
    <div class="bs-example">
        <div class="progress progress-striped">
            <div class="progress-bar" style="width: 60%;">
                <span class="sr-only">60% Complete</span>
            </div>
        </div>
    </div>






    <style type="text/css">
        .bs-example {
            margin: 20px;
        }
    </style>
    </head>

    <body>
        <div class="bs-example">
            <!-- Progress bar HTML -->
            <div class="progress progress-striped active">
                <div class="progress-bar"></div>
            </div>
            <!-- jQuery Script -->
            <script type="text/javascript">
                var i = 0;

                function makeProgress() {
                    if (i < 100) {
                        i = i + 1;
                        $(".progress-bar").css("width", i + "%").text(i + " %");
                    }
                    // Wait for sometime before running this script again
                    setTimeout("makeProgress()", 100);
                }
                makeProgress();
            </script>
        </div>







        <style type="text/css">
            .bs-example {
                margin: 20px;
            }
        </style>
        <div class="bs-example">
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: 40%">
                    <span class="sr-only">Program Files (40%)</span>
                </div>
                <div class="progress-bar progress-bar-warning" style="width: 25%">
                    <span class="sr-only">Residual Files (25%)</span>
                </div>
                <div class="progress-bar progress-bar-danger" style="width: 15%">
                    <span class="sr-only">Junk Files (15%)</span>
                </div>
            </div>
            <hr>
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: 40%">
                    Program Files (40%)
                </div>
                <div class="progress-bar progress-bar-warning" style="width: 25%">
                    Residual Files (25%)
                </div>
                <div class="progress-bar progress-bar-danger" style="width: 15%">
                    Junk Files (15%)
                </div>
            </div>
        </div>







        <style type="text/css">
            .bs-example {
                margin: 20px;
            }
        </style>
        <div class="bs-example">
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-info" style="width: 20%">
                    <span class="sr-only">20% Used</span>
                </div>
            </div>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-success" style="width: 40%">
                    <span class="sr-only">40% Used</span>
                </div>
            </div>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-warning" style="width: 80%">
                    <span class="sr-only">80% Used</span>
                </div>
            </div>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-danger" style="width: 90%">
                    <span class="sr-only">90% Used</span>
                </div>
            </div>
            <hr>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-info" style="width: 20%">
                    Disk Space: 80% free
                </div>
            </div>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-success" style="width: 40%">
                    Enough Disk Space: 60% free
                </div>
            </div>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-warning" style="width: 80%">
                    Low Disk Space: 80% full
                </div>
            </div>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-danger" style="width: 90%">
                    Not Enough Disk Space: 90% full
                </div>
            </div>
        </div>











        <div class="jumbotron">
            <div class="container">
                <h1>Learn to Create Websites</h1>
                <p>In today's world internet is the most popular way of connecting with the people. At <a href="https://www.tutorialrepublic.com" target="_blank">tutorialrepublic.com</a> you will learn the essential of web development technologies along
                    with real life practice example, so that you can create your own website to connect with the people around the world.</p>
                <p><a href="https://www.tutorialrepublic.com" target="_blank" class="btn btn-primary btn-lg">Get started today</a></p>
            </div>
        </div>





        <style type="text/css">
            .jumbotron {
                margin-top: 15px;
            }
        </style>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="jumbotron">
                        <h1>Learn to Create Websites</h1>
                        <p>In today's world internet is the most popular way of connecting with the people. At <a href="https://www.tutorialrepublic.com" target="_blank">tutorialrepublic.com</a> you will learn the essential of web development technologies
                            along with real life practice example, so that you can create your own website to connect with the people around the world.</p>
                        <p><a href="https://www.tutorialrepublic.com" target="_blank" class="btn btn-primary btn-lg">Get started today</a></p>
                    </div>
                </div>
            </div>
        </div>











        <style type="text/css">
            .bs-example {
                margin: 20px;
            }
        </style>
        <div class="bs-example">
            <div class="well">Look, I'm in a well!</div>
        </div>








        <style type="text/css">
            .bs-example {
                margin: 20px;
            }
        </style>
        <div class="bs-example">
            <div class="well">Look, I'm in a well!</div>
            <div class="well well-lg">Look, I'm in a large well!</div>
            <div class="well well-sm">Look, I'm in a small well!</div>
        </div>





        <div class="bs-example">
            <p class="bg-primary">Important: Please read the instructions carefully before proceeding.</p>
            <p class="bg-success">Success: Your message has been sent successfully.</p>
            <p class="bg-info">Note: You must agree with the terms and conditions to complete the sign up process.</p>
            <p class="bg-warning">Warning: There was a problem with your network connection.</p>
            <p class="bg-danger">Error: An error has been occurred while submitting your data.</p>
        </div>



        <style type="text/css">
            .bs-example {
                margin: 20px;
            }
        </style>
        <div class="bs-example">
            <div class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Warning!</strong> There was a problem with your network connection.
            </div>
        </div>




        <style type="text/css">
            .bs-example {
                margin: 20px;
            }
        </style>
        <div class="bs-example">
            <div class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Warning!</strong> There was a problem with your network connection.
            </div>
        </div>






        <style type="text/css">
            .wrapper {
                margin: 20px;
                padding: 10px;
                background: #fffacd;
                border: 1px solid #000;
            }
            
            .center-block {
                width: 50%;
                padding: 30px;
                background: #e3b740;
            }
        </style>
        <div class="wrapper">
            <div class="center-block">Center Aligned DIV Box</div>
            <p><strong>Note:</strong> Play with .center-block width property value to understand how it works.</p>
        </div>






        <style type="text/css">
            .bs-example {
                margin: 20px;
            }
            
            .bs-example div {
                margin: 20px;
                padding: 20px;
                background: #f0e68c;
            }
        </style>
        <div class="bs-example">
            <div class="pull-left">Floated to left.</div>
            <div class="pull-right">Floated to right.</div>
        </div>


        <div class="bs-example">
            <div class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Warning!</strong> There was a problem with your network connection.
            </div>
        </div>




        <!-- footer  -->
        <div>
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#" class="navbar-brand">Brand</a>
                    </div>
                    <!-- Collection of nav links and other content for toggling -->
                    <div id="navbarCollapse" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home<span class="badge">5</span></a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Messages</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Login</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div>
            hello guddu
        </div>