<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <!--
    <div style="margin:50px;">
        <table>
    <form action="/login" method="post">
    <tr> <td>First Name </td><td><input type="text" name="fname"></td></tr>
    <tr><td>Last Name</td><td><input type="text" name="lname"></td></tr> 
    <tr><td>Email</td><td><input type="text" name="email"></td></tr> 
    <tr><td>Age</td><td><input type="text" name="age"></td></tr>
    <tr><td></td><td><input type="submit" value="Submit"></td></tr>
    </form>
</table>
    </div>
    -->
    <form action="/loginpage" method="post">
       <p>First Name <input type="text" name="fname"></p> 
        <p>Last Name<input type="text" name="lname"> </p> 
       <p> Email<input type="text" name="email"> </p>
       <p> Age<input type="text" name="age"></p>
       <p><input type="submit" value="Submit"></p> 
        </form>
</body>
</html>