<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hello <font color="green">{{name}} </font>!</h1>
    <h1><font color="red">Welcome to algo trading.</font></h1>
    <h2><font color="orange">Algo trading in upstox api in web application </font></h2>
    <div >
    <p><a href="http://www.nseindia.com">NseIndia</a></p>
    <p><a href="http://www.bseindia.com">BseIndia</a></p>
    </div>
</body>
</html>